h1{
    text-align: center;
    font-family: "Lucida Console", "Courier New" ;
}
.left-sec{
    float: left;
    width: 20vw;
    border-right: rgba(128, 128, 128, 0.582) 2px solid ;
    padding-left: 40px;
    margin-right: 30px;
}
/* h3{
     font-family:fantasy; 
} */
h5{
    margin: 0px !important;
}
a{
    display: inline-block;
    width: 130px !important;
    color: rgba(0, 0, 0, 0.712);
    text-decoration: none;
}

a:hover{
    background-color: black;
    color: rgba(255, 255, 255, 0.829);
}

/* .right-sec{

} */

    /* width: 60vw; */
    /* border: black solid; */
    /* margin-left: 60px; */

ul{

    /* border: black solid; */
    padding-left: 30px;
    list-style: square;
}
